@font-face {
    font-family: "f1";
    src: url("SchibstedGrotesk-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: "f2";
    src: url("SchibstedGrotesk-VariableFont_wght.ttf");
}

@font-face {
    font-family: "f3";
    src: url("ArchivoBlack-Regular.ttf");
}

@font-face {
    font-family: "f4";
    src: url("Run!\ Demo.otf");
}

@font-face {
    font-family: "f5";
    src: url("Pacifico-Regular.ttf");
}

@font-face {
    font-family: "f6";
    src: url("Shadows_Into_Light/ShadowsIntoLight-Regular.ttf");
}

@font-face {
    font-family: "f7";
    src: url("nothing-font-5x7.otf");
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    width: 100%;
    height: 100%;
}

.header {
    background-color: #1e293b;
    text-align: center;
    padding: 80px 20px;
}

.header h1 {
    font-family: "f1", sans-serif;
    font-size: 100px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

.header p {
    margin-top: 10px;
    font-size: 30px;
    color: white;
    font-style: italic;
    
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.card {
    background-color: palegreen;
    width: 80%;
    padding: 80px;
    border-radius: 5px;
}

.card h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: "f2", sans-serif;
    color: black;
}

.card p {
    text-align: center;
    font-size: 20px;
    color: black;
    font-family: "f2", sans-serif;
}

.education-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.education {
    background-color: rgb(47, 158, 255);
    width: 80%;
    padding: 80px;
    border-radius: 5px;
}

.education h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: "f3", sans-serif;
    color: black;
}

.education p {
    text-align: center;
    font-size: 20px;
    color: black;
    font-family: "f3", sans-serif;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.education h3 {
    text-align: center;
    font-size: 20px;
    color: black;
    font-family: "f3", sans-serif;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.Skills-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.Skills {
    background-color: rgb(255, 199, 47);
    width: 80%;
    padding: 80px;
    border-radius: 5px;
}

.Skills h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: "f4", sans-serif;
    color: black;
    text-transform: uppercase;
}
.Skills h2{
    text-align: center;
    font-size: 20px;
    color: black;
    font-family: "f5", sans-serif;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.Skills h3{
    text-align: center;
    font-size: 20px;
    color: black;
    font-family: "f5", sans-serif;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.Skills h4{
    text-align: center;
    font-size: 20px;
    color: black;
    font-family: "f5", sans-serif;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.Skills h5{
    text-align: center;
    font-size: 20px;
    color: black;
    font-family: "f5", sans-serif;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.Project-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.Project {
    background-color: pink;
    width: 80%;
    padding: 80px;
    border-radius: 5px;
}

.Project h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: "f6", sans-serif;
    color: black;
    text-transform: uppercase;
}
.Project h2{
    text-align: center;
    font-size: 20px;
    color: black;
    font-family: "f6", sans-serif;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    font-style: italic;
}

.Project h3{
    text-align: center;
    font-size: 20px;
    color: black;
    font-family: "f6", sans-serif;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    font-style: italic;
}

.Project h4{
    text-align: center;
    font-size: 20px;
    color: black;
    font-family: "f6", sans-serif;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    font-style: italic;
}

.Contact-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.Contact {
    background-color: darkgray;
    width: 80%;
    padding: 80px;
    border-radius: 5px;
}

.Contact h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: "f7", sans-serif;
    color: black;
    text-transform: uppercase;
}
.Contact h2{
    text-align: center;
    font-size: 20px;
    color: black;
    font-family: "f7", sans-serif;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.Contact h3{
    text-align: center;
    font-size: 20px;
    color: black;
    font-family: "f7", sans-serif;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.Contact h4{
    text-align: center;
    font-size: 20px;
    color: black;
    font-family: "f7", sans-serif;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}






